.contenedor {
    display: flex;
    flex-direction: row;
    width: 100%;
}
h1{
    text-align: center;
}
.contenedor,label{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: burlywood;
}

.titulo {
    display: inline;
    align-self: center;
}

.nombre {
    border: 2 px purple solid;
}