.contenedor{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.titulo{
    display: inline;
    flex-direction: row;
    align-self: center;
}
.nombre{
    border: 2 px purple solid;
}